@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primary-color { /* TODO: change in dark mode */
  color: #0b4870; 
}

.highlight-primary-color { /* TODO: change in dark mode */
  color: #457B9D;
}

.secondary-color { /* TODO: change in dark mode */
  color: #457B9D;
}

.highlight-secondary-color { /* TODO: change in dark mode */
  color: #63A5E2;
}

.snow-color { /* TODO: change in dark mode */
  color: #F1FAEE;
}


#hero-section {
background-image: linear-gradient(to right, #a5d6d8, #81a7a9);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #eaeaea; /* light background behind page */
}

.inter-Black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Page wrapper */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  background: #f4faff; /* TODO: change in dark mode */
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  position: relative;
}

/* Floating top bar */
.top-bar { 
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  min-height: 6vh;
  background: white; /* TODO: change in dark mode */
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.top-bar .logo {
  width: 120px;
  margin: 5px 0;
  align-items: center;
  justify-content: center;
}

.top-bar .links-logos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  display: block;
}

.logo img {
  object-fit: contain;
  cursor: pointer;
  display: flex;
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.links-logos {
  height: 25px;
  border-radius: 6px;
  cursor: pointer;
}

#hero-section .links-logos {
  height: 30px;
}

#hero-section p {
  width: 75%;
}

.Magshimim-Cv-Logo 
{
  border-radius: 12px;
  padding: 2px 6px;
  transition: background-color 0.3s ease;
  background-color: #457b9d;
}

.Magshimim-Cv-Logo:hover
{
  background-color: #63a5e2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-box {
  width: 45%;
  max-height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar button {
  width: 130px;
  height: 35px;
  padding: 6px 14px;
  border-radius: 12px;
  border-width: 3px;
  border-color: #0B4870;
  background: #8098C6;
  color: #F2F2F2;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

/* Sections */
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5%;
  min-height: 69vh;
}

.text-block h2 {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0px;
}

.text-block p {
  margin-top: 5px;
  font-size: 24px;
  line-height: 34px;
  width: 90%;
}


section:nth-child(odd) {
  background: #d8f0f4;
}


/* Specific placeholder sizes */
.hero-img {
  width: 45%;
  margin-top: 0px;
}


.text-block {
  max-width: 45%;
}

#hero-section .text-block h2 {
  font-weight: 800;
}

#hero-section .text-block p {
  font-weight: 500;
  line-height: auto;
}

.black-box {
  background: black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

/* .target-img {

} */

.magshimim-img {
  filter: drop-shadow(5px 5px 0.15rem #0101014f);
}

.join-img {
  width: 90%;
}

/* .join-img {
  width: 250px;
  height: 250px;
} */

/* Form styling */
/* .form-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  width: 300px;
}

.form-box h3 {
  margin-top: 0;
  color: #2c5ca9;
}

.form-box input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #2c5ca9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.form-box { /* TODO: change in dark mode */
  background: #F4F4F4;
  width: 45vmin;
  padding: 0 5vmin;
  border: 3px solid #3D3D3D;
  border-radius: 2vmin;
  box-shadow: 1vmin 1vmin 5px rgba(0,0,0,0.3);
  text-align: center;
  height: 48vh;
}

.form-box h1 {
  font-size: 5vmin;
  margin-bottom: 4vmin;
}

.form-box label {
  display: block;
  font-weight: bolder;
  text-align: left;
  margin: 2vmin 0 1vmin;
  font-size: 2.5vmin;
}

.form-box input[type="text"], 
.form-box input[type="email"] {
  width: 100%;
  padding: 5px;
  border-radius: 1vmin;
  border: 0.3vmin solid #3D3D3D;
  font-size: 24px;
  background: #e6e6e6;
  box-sizing: border-box;
}

.form-box button {
  margin-top: 3vmin;
  padding: 11px 4vmin;
  font-size: 22px;
  font-weight: bold;
  background-color: #8098C6;
  border: 0.3vmin solid #3D3D3D;
  border-radius: 1vmin;
  width: 65%;
  color: #F4F4F4;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.form-box button:hover {
  background-color: #7b95b8;
}

/* Spacing for fixed header */
.spacer {
  height: 1 0px;
}

/* Positioning in divs*/
.center {
    margin:auto;
}

.center-text {
    text-align: center;
}

.community-graphs {
  width: 45%;
}


/* Statistics Cards */
.Statistics-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card-background {
  border-radius: 12px;
  border: #828d8f52 1px solid;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.card-background:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.card-img {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin: 10px;
}

.card-img-insider
{
  padding: 12px;
  border-radius: 12px;
}

.bg-green-500
{
  background-color: #d3f3df;
  color: #10B981;
}

.bg-purple-500
{
  background-color: #eeddfd;
  color: #eeddfd;
}

.bg-blue-500
{
  background-color: #d8e6fd;
  color: #63A5E2;
}

.cards-number 
{
  margin-top: 0px;
  font-size: x-large;
  font-weight: bold;
  color: #4e4e4e;
  margin-bottom: 5px;
}

.card-title
{
  font-size: small;
  color: #4e4e4e;
  margin-top: 0px;
}